@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 dark:bg-slate-900;
}

@layer components {
  .btn {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-primary-500 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500;
  }
  .input {
    @apply dark:bg-slate-800 dark:text-white focus:ring-primary-500 focus:border-primary-500 block w-full sm:text-sm border-gray-300 rounded-md px-2;
  }
  select {
    @apply mt-1 block pl-3 pr-10 py-2 text-base border-slate-300 dark:border-slate-600 bg-slate-100 dark:bg-slate-100 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm rounded-md dark:text-black text-white font-medium;
  }
  .card {
    @apply border border-slate-700 bg-slate-800;
  }
}

table {
  @apply w-full;
}

th {
  @apply font-medium p-2;
}
td {
  @apply p-2 text-center;
}

@screen md {
  * {
    scrollbar-width: thin;
    scrollbar-color: theme(colors.slate.500);
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background: theme(colors.slate.800);
  }
  ::-webkit-scrollbar-thumb {
    background-color: theme(colors.slate.700);
    border-radius: 4px;
    border: 1px solid theme(colors.slate.600);
  }
}
