@tailwind base;
@tailwind components;
@tailwind utilities;

[data-color-scheme="dark"] {
  color-scheme: dark;
}

[data-color-scheme="light"] {
  color-scheme: light;
}

html {
  @apply h-full;
}

body {
  @apply bg-slate-50 dark:bg-slate-900 h-full;
}

@layer components {
  .btn {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-primary-500 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500;
  }
  .input {
    @apply dark:bg-slate-800 dark:text-white border border-slate-300 dark:border-slate-700 focus:ring focus:ring-primary-500 outline-none block w-full sm:text-sm  rounded-md px-2;
    @apply placeholder:text-slate-500;
  }
  select {
    @apply mt-1 block pl-3 pr-10 py-2 text-base border-slate-300 dark:border-slate-600 bg-slate-100 dark:bg-slate-100 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm rounded-md dark:text-black text-white font-medium;
  }
  .card {
    @apply border bg-white border-slate-300 dark:border-slate-700 dark:bg-slate-800;
  }
}

table {
  @apply w-full;
}

th {
  @apply font-medium p-2;
}
td {
  @apply p-2 text-center;
}

@screen md {
  * {
    scrollbar-width: thin;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    border: 1px solid theme(colors.slate.400);
    border-radius: 4px;
  }

  [data-color-scheme="light"] * {
    scrollbar-color: theme(colors.slate.300);
  }
  [data-color-scheme="light"] ::-webkit-scrollbar-track {
    background: theme(colors.slate.300);
  }
  [data-color-scheme="light"] ::-webkit-scrollbar-thumb {
    background-color: theme(colors.slate.400);
    border: 1px solid theme(colors.slate.400);
  }

  [data-color-scheme="dark"] * {
    scrollbar-color: theme(colors.slate.500);
  }
  [data-color-scheme="dark"] ::-webkit-scrollbar-track {
    background: theme(colors.slate.800);
  }
  [data-color-scheme="dark"] ::-webkit-scrollbar-thumb {
    background-color: theme(colors.slate.700);
    border: 1px solid theme(colors.slate.600);
  }
}

@media screen and (min-width: 850px) and (max-width: 1220px) {
  .vpill { 
    margin-left: auto;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end;
    width: 500px;
  }
  .nn {
    width:180px !important;
  }
  .ne{
    margin-right: 10px;
    /* width: 200px; */
  }
}
@media screen and (max-width: 1120px) {
  .vpill { 
    margin-left: auto;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end;
    width: 300px !important;
  }
  .nn {
    width:290px !important;
  }
  .ne{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 2px;
  }
}